[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
.vscode/
.DS_Store
*.csproj
*.unityproj
*.sln
*.user

# Visual Studio workspace files
.vs/

# Unity log files
Logs/
*.log
